
/Src/_ReSharper.UberDeployer
/Src/UberDeployer.suo
/Src/UberDeployer.CommonConfiguration/bin
/Src/UberDeployer.CommonConfiguration/obj
/Src/UberDeployer.ConsoleApp/obj
/Src/UberDeployer.ConsoleApp/bin
/Src/UberDeployer.ConsoleCommander/bin
/Src/UberDeployer.ConsoleCommander/obj
/Src/UberDeployer.Core/bin
/Src/UberDeployer.Core/obj
/Src/UberDeployer.1.2.dotCover
/UberDeployer.sln — skrót.lnk
/UberDeployer.sln - Shortcut.lnk
/Src/UberDeployer.Database/obj
/Src/UberDeployer.Database/sql
/Src/UberDeployer.Database/UberDeployer.Database.dbmdl
/Src/UberDeployer.Core.Tests/obj
/Src/UberDeployer.Core.Tests/bin
/Src/UberDeployer.WinApp/obj
/Src/UberDeployer.WinApp/bin
/Src/ProjectDepsVisualizer/obj
/Src/ProjectDepsVisualizer/bin
/Src/UberDeployer.NAnt/obj
/Src/UberDeployer.NAnt/bin
/Data/KRD
/Bin
/Tests
/Src/ProjectDepsVisualizer/StyleCop.Cache
/UberDeployer.sln.lnk
*.user
bin
obj
Logs
/Src\UberDeployer.WebApp/Logs
