@model UberDeployer.WebApp.Core.Models.Deployment.IndexViewModel
@{
  ViewBag.Title = "Deployment | ÜberDeployer";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <h1>Deployment
  </h1>

  <hr />

  <p>
    Life pro tip of the fucking day: <em>@Model.TipOfTheDay</em>
    <br />
    <small>Courtesy of <a href="http://fuckinghomepage.com/">Fucking Homepage</a>.</small>
  </p>

  <hr />

  <div class="container">
    <div class="row">
      <div id="errorMsg" class="alert alert-error" style="display: none;">
      </div>
    </div>
  </div>
  <div class="container" id="main-container">
    <div class="row" id="main-row">
      <div class="span3">
        <label for="lst-projects" class="lst-header">Projects:</label>
        <br />
        <select id="lst-projects" size="10">
        </select>
      </div>
      <div class="span4">
        <label for="lst-project-configs" class="lst-header">Configurations:</label>
        <br />
        <select id="lst-project-configs" size="10">
        </select>
      </div>
      <div class="span5">
        <label for="lst-project-config-builds" class="lst-header">Builds:</label>
        <br />
        <select id="lst-project-config-builds" size="10">
        </select>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <label for="lst-environments" class="lst-header">Target environment:</label>
        <select id="lst-environments" size="5">
        </select>
      </div>
      <div class="span6">
        <label for="lst-machines" class="lst-header">Target machines:</label>
        <select id="lst-machines" size="5" multiple="multiple">
        </select>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <button id="btn-deploy" name="btn-deploy" class="btn btn-primary pull-right">
          Deploy
        </button>
        <button id="btn-simulate" name="btn-simulate" class="btn pull-right">
          Simulate
        </button>
        <button id="btn-version" class="btn pull-left" onclick="javascript: getProjectVersion();">
          Version?
        </button>
        <button id="btn-kick-ass" class="btn pull-left" onclick="javascript: kickAss();">
          Kick Ass!
        </button>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <hr />
        <div id="txt-logs">
        </div>
        <button id="btn-clear-logs" class="btn pull-right" onclick="javascript: clearLogs();">
          Clear
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    initializeDeploymentPage();
  })
</script>
