<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0" />
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="notSecuredNetTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="UberDeployer.Agent.Service.AgentService" behaviorConfiguration="UberDeployer.AgentService.Behavior">
        <endpoint address="net.tcp://localhost:50010/UberDeployerAgentService" binding="netTcpBinding" bindingConfiguration="notSecuredNetTcpBinding" contract="UberDeployer.Agent.Proxy.IAgentService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UberDeployer.AgentService.Behavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <log4net configSource="log4net.config" />

  <startup useLegacyV2RuntimeActivationPolicy="true" />

</configuration>
