<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0" />
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="notSecuredNetTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="UberDeployer.Agent.Service.AgentService">
        <endpoint address="net.tcp://localhost:50010/AgentService" binding="netTcpBinding" bindingConfiguration="notSecuredNetTcpBinding" contract="UberDeployer.Agent.Proxy.IAgentService" />
      </service>
    </services>
  </system.serviceModel>

  <log4net configSource="log4net.config" />

</configuration>
