<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VisibleEnvironments" value="*" />
    <add key="DeployableEnvironments" value="*"/>
    <add key="AllowedProjectConfigurations" value="*" />
    <add key="OnlyDeployableCheckedByDefault" value="true"/>
  </appSettings>

</configuration>
